
$color-primary: #bfde42;
$color-secondary: #42b4ca;
$color-tertiary: #3685f4;
$color-background: #f5f5f5;

$color-input-background: #bcbcbc;
$color-header: #032100;

$color-error: #ff5b5b;

$color-primary-hover: #a5c039;