@use "./colors.scss" as *;
@use "sass:color";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

//Login
.button-login {
  background-color: $color-secondary;
}

.button-login:hover {
  background-color: color.adjust($color-secondary, $lightness: -10%);
}

//Header
.header-rm {
  background-color: $color-header;
}

.color-tabs {
  background-color: $color-header;
}

.line-tabs {
  color: $color-primary;
  border-bottom: 2px solid $color-primary;

  &:hover {
    color: color.adjust($color-primary, $lightness: -10%);
  }
}

.tabs-inactive {
  color: #ffffff;

  &:hover {
    color: $color-primary;
  }
}

//Search bar
.search-btn {
  background-color: $color-primary;
}

.search-btn:hover {
  background-color: #a5c039;
  transition: background-color 0.4s ease;
}
