@use './colors.scss' as *;
@use 'sass:color';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}


.button-login {
  background-color: $color-secondary;
}

.button-login:hover {
  background-color: color.adjust($color-secondary, $lightness: -10%);
}

.header-rm {
  background-color: $color-terciary;
}

.color-tabs {
  background-color: $color-terciary;
}

.line-tabs {
  color: $color-primary;
  border-bottom: 2px solid $color-primary;

  &:hover {
    color: color.adjust($color-primary, $lightness: -10%);
  }
}

.tabs-inactive {
  color: #ffffff;

  &:hover {
    color: $color-primary;
  }
}